define service{
    use                      generic-passive-service
    hostgroup_name           all-servers
    service_description      CPU Load
#    check_freshness          1
#    freshness_threshold      15 # in seconds
#    check_command            check_dummy!3!"Status is outdated"
#    notification_interval    0 # only one notification when the status is outdated
    register                 0 # this is just an example
}

define service{
    use                      generic-passive-service
    host_name                localhost
    service_description      Server UP
    event_handler_enabled    1
    event_handler            add_mconf_host
    notification_interval    0
    check_freshness          0
}

define service{
    use                      generic-passive-service
    hostgroup_name           all-servers
    service_description      Network Report
}

define service{
    use                      generic-passive-service
    hostgroup_name           all-servers
    service_description      Processor Report
}


define service{
    use                       generic-passive-service
    hostgroup_name            all-servers
    service_description       Memory Report
}

define service{
    use                       generic-passive-service
    hostgroup_name            all-servers
    service_description       Disk Report
}

define service{
    use                       mconf-service
    hostgroup_name            bigbluebutton-servers
    service_description       BigBlueButton Info
    check_command             get_bigbluebutton_info
    initial_state             u
    max_check_attempts        1 # don't try again if status != OK
    check_interval            1 # min
    check_period              24x7
    active_checks_enabled     1
    first_notification_delay  5
}

define service{
    use                       generic-service
    hostgroup_name            all-servers
    service_description       SSH
    check_command             check-ssh
    notification_interval     0
}

define service{
    use                       generic-service
    hostgroup_name            bigbluebutton-servers
    service_description       Port check - RTMP
    check_command             check-rtmp
    notification_interval     0
}

define service{
    use                       generic-service
    hostgroup_name            bigbluebutton-servers
    service_description       Port check - SIP
    check_command             check-sip
    notification_interval     0
}

define service{
    use                       generic-service
    hostgroup_name            bigbluebutton-servers
    service_description       Port check - Desktop Sharing
    check_command             check-deskshare
    notification_interval     0
}

define service{
    use                       generic-service
    hostgroup_name            bigbluebutton-servers
    service_description       BigBlueButton API
    check_command             check-bbb-api
    notification_interval     0
}

define service{
    use                       generic-service
    hostgroup_name            bigbluebutton-servers
    service_description       BigBlueButton Demo Installed
    check_command             check-demo-presence
    notification_interval     0
}

define service{
    use                       generic-service
    hostgroup_name            bigbluebutton-servers
    service_description       BigBlueButton Version
    check_command             check-bbb-version
    notification_interval     0
}

